@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
    --white: rgb(250, 250, 250);
    --black: #141414;
    --blue: #31326f;
    --light-blue: #2e5bff;
    --color-primary: #9a2eff;
    --color-sec: #db6400;
    --color-grey: rgb(216, 216, 216);
    --color-dark-grey: #1d1d1d;
    --color-light-grey:#505050;

    --dashboard-main: #027581;
    --dashboard-dark: #1d2231;
    --dashboard-grey: #8390a2;

    --body-font: "Open Sans", sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
      
        /*========== Margenes ==========*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
      
        /*========== z index ==========*/
     --z-tooltip: 10;
    --z-fixed: 100;



  }
  
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
  }
  
  /* html {
    font-size: 10px;
  } */
  
  body {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    overflow-x: hidden;
  }

  /* h1,h2,h3,h4,h5,p,ul,li{
    margin:0;
    padding:0;
    line-height: normal;
    font-weight: normal;
    font-style: normal;
} */


ul{
    padding:0;
    list-style: none;
}

a{
    text-decoration: none;
}

    @media screen and (min-width: 768px){

    :root{

        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;

    }

  }

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  /* width: 100%; */
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  width: 100%;
  padding: 10rem 0;
}


/********** HEADER STYLES ***********/
/********** HEADER STYLES ***********/
/********** HEADER STYLES ***********/
header {
  width: 100%;
  padding: 2.5rem 0;
  background: linear-gradient(
    to bottom,
    rgba(46, 91, 255, 0.6),
    rgba(48, 228, 228, 0.8)
  ),
  url(../../../assets/img/citybg.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: scroll;
  /* border-radius: 0px 0px 5rem 5rem; */
  position: relative;
  /* z-index: 9999999; */
}

.header {
  z-index: 11;
}

.logo {
  height: 3.5rem;
  /* margin-right: 3rem; */
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-ul {
  display: flex;
  justify-content: space-evenly;
  z-index: 999;
  padding-right: 20px;
}

.nav-ul li {
  list-style: none;
  padding: 0 15px;
}

.nav-ul li a,
.login {
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--white);
  z-index: 1;
}

.nav-ul li a:hover,
.login:hover {
  color: var(--blue);
}

.cta {
  display: none;
}

.btn {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  background-color: transparent;
  padding: 1rem 2rem;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 5rem;
  opacity: 1;
  transition: all 0.3s;
  display: inline-block;
}

.btn:hover {
  background-color: var(--white);
  color: var(--blue);
  border: 3px solid var(--light-blue);
}

/* INTRO SECTION */
/* INTRO SECTION */
/* INTRO SECTION */

.intro {
  text-align: center;
  color: var(--white);
  padding: 10rem 0 0 0;
  position: relative;
}

.intro h1 {
  font-size: 5rem;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 1rem;
}

.intro p {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 2rem;
  color: var(--white);
}

.intro img {
  transform: translateY(12rem);
  width: 80%;
  display: block;
  margin: 0 auto;
}

.shape {
  width: 15rem;
  height: 15rem;
  background-color: rgba(0, 0, 0, 0.2);
  background-color: #2e7ef7;
  border-radius: 50%;
  z-index: 0;
  animation: rotate ease 10s infinite alternate;
}

.shape1 {
  position: absolute;
  left: 1rem;
  top: 10%;
  background-color: rgba(0, 0, 0, 0.1);
}
.shape2 {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 25rem;
  top: 50%;
}
.shape3 {
  width: 30rem;
  height: 30rem;
  position: absolute;
  right: -5rem;
  top: -5%;
  background-color: rgba(48, 228, 228, 0.52);
}

@keyframes rotate {
  0% {
    transform: translateX(-2rem);
  }
  25% {
    transform: translateY(-2rem);
  }
  50% {
    transform: translateX(2rem);
  }
  75% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateX(2rem);
  }
}

/* SERVICES SECTION */
/* SERVICES SECTION */
/* SERVICES SECTION */
#services {
  margin-top: 5rem;
}

.heading {
  text-align: center;
}

.heading-2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 2rem 0;
  color: var(--color-dark-grey);
}

p {
  color: #777;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  row-gap: 2rem;
  column-gap: 2rem;
  padding-top: 5rem;
}

.service {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5rem 2rem;
  text-align: center;
  transition: all 0.3s;
}

.service:hover {
  transform: translateY(-2rem);
  border-top: 2px solid var(--light-blue);
}

.service > * {
  padding-bottom: 1.5rem;
}

.service i {
  font-size: 2rem;
  color: var(--light-blue);
}

.heading-3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  color: var(--color-dark-grey);
}

.service p {
  font-size: 1.4rem;
  padding-bottom: 2rem;
}

.service a {
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--blue);
  position: relative;
}

.service a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 1rem;
  width: 100%;
  height: 1px;
  background-color: var(--blue);
}

/* Consult Section*/
/* Consult Section*/
/* Consult Section*/
#consult {
  background-color: #f5f5f5;
}

.consult {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  row-gap: 2rem;
  column-gap: 2rem;
  margin-bottom:100px;
}

.consult-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.consult-item {
  justify-content: flex-start;
  padding-bottom: 3rem;
}

.consult-item i {
  font-size: 2rem;
  color:var(--light-blue);
  margin-right: 1rem;
}

.consult-item p {
  font-size: 1.8rem;
}

.consult-image img {
  width: 100%;
  text-align: center;
}

.btn-square {
  background-color: var(--light-blue);
  border-radius: 5px;
}

/* FEATURE SECTION  */
/* FEATURE SECTION  */
/* FEATURE SECTION  */
#features {
    background: linear-gradient(
        to bottom,
        rgba(46, 91, 255, 0.6),
        rgba(48, 228, 228, 0.8)
      ),
    url(../../../assets/img/people.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 75rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  row-gap: 2rem;
  column-gap: 2rem;
}

.text-white {
  color: var(--white);
}

.feature-heading {
  padding-bottom: 5rem;
}

.feature-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  row-gap: 2rem;
  column-gap: 1.5rem;
}

.feature-item > * {
  margin-bottom: 1.5rem;
}

.feature-item i {
  font-size: 3rem;
  color: var(--white);
}

.feature-image img {
  width: 100%;
  height: 100%;
  transform: translateY(-15rem);
}

/* Action */
/* Action */
/* Action */
#action {
  text-align: center;
}

#action a {
  margin-top: 3rem;
}

/* Footer */
/* Footer */
/* Footer */

footer {
  padding: 10rem 0;
  background-color: var(--black);
  color: var(--white);
  padding: 5rem 0;
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  row-gap: 4rem;
  column-gap: 2rem;
}

.footer-links ul li {
  list-style: none;
  /* text-align: left; */
  padding-bottom: 1.5rem;
}

.footer-links ul li a {
  font-size: 1.4rem;
  font-weight: 700;
  color: #777;
  text-decoration: none;
}

.footer-links ul li a:hover {
  color: var(--color-grey);
}

.footer-credit {
  text-align: left;
}

.footer-credit form {
  margin-bottom: 1rem;
}

form input {
  font-size: 1.4rem;
  padding: 1rem;
  border: none;
  border-radius: 3px;
  width: 100%;
  margin: 3px 0;
}

form input[type="submit"] {
  background-color: var(--light-blue);
  color: white;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: var(--white);
  color: var(--light-blue);
}

/* Tablet width < px */
@media screen and (max-width: 900px) {
    #features {
      height: 100%;
    }
    .features {
      display: flex;
      flex-direction: column;
    }
    .feature-image img {
      /* width: 100%;
      height: 100%; */
      transform: translateY(0);
    }
  }
  
  /* MOBILE PHONE WIDTH 600PX */
  @media screen and (max-width: 600px) {
    /* Header section */
    header {
      /* height: 9rem; */
    }
    .logo {
      margin: 0;
    }
    .login {
      display: none;
    }
    nav {
      display: block;
      text-align: center;
    }
  
    .nav-ul {
      justify-content: center;
      border-bottom: 2px solid white;
      border-radius: 3px 3px 0 0;
      width: 70%;
      margin: 0 auto;
      padding: 5px 0;
      background-color: rgba(0, 0, 0, 0.2);
    }
  
    .cta {
      display: inline;
    }
  
    .shape3 {
      width: 20rem;
      height: 20rem;
      right: -8rem;
    }
  }
  