<div class="dashboard-container">

<input type="checkbox" id="sidebar-toggle">
<!-- <div class="sidebar">
  <div class="sidebar-header">
    <h3 class="brand">
      <span class="ti-unlink"></span>
      <span>EasyBank</span>
    </h3>
    <label for="sidebar-toggle" class="ti-menu-alt"></label>
  </div>

  <div class="sidebar-menu">
    <ul>
      <li>
        <a href="">
          <span class="ti-home"></span>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="ti-credit-card"></span>
          <span>Payments</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="ti-settings"></span>
          <span>Settings</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="ti-bar-chart"></span>
          <span>Stats</span>
        </a>
      </li>
      <li>
        <a href="">
          <span></span>
          <span></span>
        </a>
      </li>
    </ul>
  </div>
</div> -->

<app-sidebar></app-sidebar>

<div class="dashboard-content">
  <header>
    <div class="search-container">
      <!-- <span class="ti-search"></span>
      <input type="search" placeholder="search" /> -->
    </div>

    <div class="icons">
      <span class="ti-palette"></span>
      <div></div>
    </div>
  </header>

  <main>
    <h2 class="title">Hello, {{user.email}} Your Dashboard</h2>
    <button (click)="generatePdf()">Generate PDF</button>
    <div class="cards-section">

        <div class="card">
            <div class="card-body">
                <span><i class="fas fa-piggy-bank"></i></span>
                <div>
                    <h5>Account Balance</h5>
                    <h4>£1000,00</h4>
                </div>
            </div>
            <div class="card-footer">
                <a href="">View All</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <span><i class="fas fa-sync-alt"></i></span>
                <div>
                    <h5>Payment Sent</h5>
                    <h4>£1000,00</h4>
                </div>
            </div>
            <div class="card-footer">
                <a href="">View All</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <span><i class="fas fa-sync-alt"></i></span>
                <div>
                    <h5>Payment Received</h5>
                    <h4>£1000,00</h4>
                </div>
            </div>
            <div class="card-footer">
                <a href="">View All</a>
            </div>
        </div>
    </div>

    <section class="payments">
        <div class="activity-grid">

            <div class="payment-card">
                <h3>Recent Payments</h3>

                <div class="table-container">
                    <table border="0" id="payments" #paymenttable>
                        <thead>
                            <tr>
                                <th>Payment</th>
                                <th>Amount</th>
                                <th>Sent Date</th>
                                <th>From</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
    
                            <tr>
                                <td>Received Payment</td>
                                <td>£100</td>
                                <td>25/02/2021</td>
                                <td class="images">
                                    <div class="image-1"></div>
                                    <div class="image-2"></div>
                                    <div class="image-3"></div>
                                </td>
                                <td>
                                    <span class="payment success">
                                        Confirmed
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>Received Payment</td>
                                <td>£100</td>
                                <td>25/02/2021</td>
                                <td class="images">
                                    <div class="image-1"></div>
                                    <div class="image-2"></div>
                                    <div class="image-3"></div>
                                </td>
                                <td>
                                    <span class="payment success">
                                        Confirmed
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>Received Payment</td>
                                <td>£100</td>
                                <td>25/02/2021</td>
                                <td class="images">
                                    <div class="image-1"></div>
                                    <div class="image-2"></div>
                                    <div class="image-3"></div>
                                </td>
                                <td>
                                    <span class="payment success">
                                        Confirmed
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>Received Payment</td>
                                <td>£100</td>
                                <td>25/02/2021</td>
                                <td class="images">
                                    <div class="image-1"></div>
                                    <div class="image-2"></div>
                                    <div class="image-3"></div>
                                </td>
                                <td>
                                    <span class="payment success">
                                        Confirmed
                                    </span>
                                </td>
                            </tr>
    
                            
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="information">
                <div class="info-card">
                    <div class="info-single">
                        <span><i class="fas fa-user-friends"></i></span>
                        <div>
                            <h5>420</h5>
                            <small>Your Contacts</small>
                        </div>
                    </div>
                    <div class="info-single">
                        <span><i class="fas fa-sync-alt"></i></span>
                        <div>
                            <h5>420</h5>
                            <small>Payments Sent</small>
                        </div>
                    </div>
                    <div class="info-single">
                        <span><i class="fas fa-sync-alt"></i></span>
                        <div>
                            <h5>420</h5>
                            <small>Payments Received</small>
                        </div>
                    </div>
                </div>

                <div class="info-card-two">
                    <div class="info-flex">
                        <div class="card-two-img"></div>
                        <div class="info-card-two-content">
                            <h5>Mark Dargie</h5>
                            <small>Card Information</small>
    
                        </div>
                    </div>
                    <div class="text-center">
                        <button>
                            <span class="ti-gift"></span>
                            Clear Payment
                        </button>
                    </div>

                </div>
            </div>

        </div>

    </section>

</main>

</div>



</div>