<div class="dashboard-container">

    <input type="checkbox" id="sidebar-toggle">
    
    <app-sidebar></app-sidebar>
    
    <div class="dashboard-content">
      <header>
        <div class="search-container">
        </div>
    
        <div class="icons">
          <div></div>
        </div>
      </header>
    
      <main>
        <h2 class="title">Payments</h2>

        <mat-tab-group>
            <mat-tab label="Sent Payments">
            
                <section class="payments">
                    <div class="activity-grid">
            
                        <div class="payment-card">
                            <h3>Sent Payments</h3>
            
                            <div class="table-container uppercase">
                                <table border="0">
                                    <thead>
                                        <tr>
                                            <th>Payment</th>
                                            <th>Amount</th>
                                            <th>Sent Date</th>
                                            <th>Sent To</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                
                                        <tr *ngFor="let sent of sentTransactions">
                                            <td>{{sent.method}} Transfer</td>
                                            <td>£{{sent.amount}}</td>
                                            <td>{{sent.date}}</td>
                                            <td>{{sent.to}}</td>
                                            <td>
                                                <span class="payment success uppercase">
                                                    {{sent.status}}
                                                </span>
                                            </td>
                                        </tr>
                                        
                
                                        
                                    </tbody>
                                </table>
                            </div>
            
                        </div>
            
            
                    </div>
            
                </section>

            </mat-tab>
            <mat-tab label="Received Payments">
                <section class="payments">
                    <div class="activity-grid">
            
                        <div class="payment-card">
                            <h3>Received Payments</h3>
            
                            <div class="table-container uppercase">
                                <table border="0">
                                    <thead>
                                        <tr>
                                            <th>Payment</th>
                                            <th>Amount</th>
                                            <th>Sent Date</th>
                                            <th>From</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                
                                        <tr *ngFor="let received of receivedTransactions">
                                            <td>{{received.method}} Transfer</td>
                                            <td>£{{received.amount}}</td>
                                            <td>{{received.date}}</td>
                                            <td>{{received.from}}</td>
                                            <td>
                                                <span class="payment success uppercase">
                                                    {{received.status}}
                                                </span>
                                            </td>
                                        </tr>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
            
                        </div>
            
            
                    </div>
            
                </section>
            </mat-tab>

            <!--Pending Statements Tab and Table-->
            <mat-tab label="Pending">
                <section class="payments">
                    <div class="activity-grid">
            
                        <div class="payment-card">
                            <h3>Pending Payments</h3>
            
                            <div class="table-container uppercase">
                                <table border="0" *ngFor="let pending of pendingTransactions">
                                    <thead>
                                        <tr>
                                            <th>Payment</th>
                                            <th>Amount</th>
                                            <th>Sent Date</th>
                                            <th>From</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                
                                        <tr>
                                            <td>{{pending.method}} Payment</td>
                                            <td>£{{pending.amount}}</td>
                                            <td>{{pending.date}}</td>
                                            <td>{{pending.from}}</td>
                                            <td>
                                                <span class="payment success uppercase">
                                                    Confirmed
                                                </span>
                                            </td>
                                        </tr>
                                        <div class="button-container">
                                            <button class="pending-btn" (click)="OnPaymentConfirm(pending._id, pending.from)"> Confirm </button>
                                            <button class="pending-btn reject" (click)="OnPaymentReject(pending._id)"> Reject </button>
                                        </div>

                
                                        
                                    </tbody>
                                </table>
                            </div>
            
                        </div>
            
            
                    </div>
            
                </section>

            </mat-tab>

            <mat-tab label="Request Statement">

                <div class="request-form-container">


                    <form class="registerform" (ngSubmit)="OnRequestSubmit()" #requestform="ngForm">
                        <section class="login-section">
                            <h2>EasyBank Transfer Statement Request</h2>
                            <div class="request-info">
                                <p> If you would like to receive a statement of your current transaction history, please select one of the following options.</p>
                                <h5>Direct Download</h5>
                                <p>Direct downloads will automatically generate your statement PDF file through the dashboard for direct download.</p>
                                <h5>Email</h5>
                                <p>Statements Requested through our email service will forward your PDF Transfer history via your account email.</p>
                            </div>
                        </section>
                        <mat-form-field appearance="outline">
                          <mat-label>Request Method</mat-label>
                          <mat-select [(ngModel)]="selectedValue" name="requesttype" ngModel required>
                            <mat-option value="direct">Direct Download</mat-option>
                            <mat-option value="email">Email</mat-option>
                          </mat-select>
                          <mat-error *ngIf="formfield.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
        
                        <p>Request Transaction Statement: </p>
      
                        <button class="login-button" type="submit">Request Statement</button>
                    </form>
                </div>
                
            </mat-tab>
          </mat-tab-group>
          


    
    </main>
    
    </div>
    
    
    
    </div>