<div class="dashboard-container">

    <!-- <input type="checkbox" id="sidebar-toggle"> -->
    <app-sidebar></app-sidebar>
    
    <div class="dashboard-content">
      <header>
        <div class="search-container">
        </div>
    
        <div class="icons">
          <div></div>
        </div>
      </header>
    
      <main>
        <h2 class="title">Dashboard Settings</h2>

        <mat-tab-group>
          <mat-tab label="First"> Content 1 </mat-tab>
          <mat-tab label="Second"> Content 2 </mat-tab>
          <mat-tab label="Third"> Content 3 </mat-tab>
        </mat-tab-group>
        

        <h3>Payment Methods</h3>
        <div class="cards-section">


            <div class="card">
                <div class="card-body">
                    <span class = "ti-credit-card"></span>
                    <div>
                        <h5>Account Balance</h5>
                        <h4>£1000,00</h4>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="">View All</a>
                </div>
            </div>

        </div>

        <div class="settings-container">

            <form class="registerform" #registerform="ngForm">
                <section class="login-section">
                    <h2>Account Settings</h2>
                </section>
                <mat-form-field appearance="outline">
                  <mat-label>Username</mat-label>
                  <input matInput>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput>
                </mat-form-field>
                <!-- <div class="input-container email">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="text" ngModel>
                </div> -->

                <button class="login-button" type="submit">Update</button>
            </form>


            <!--SECURITY SETTINGS-->
            <form class="registerform" #registerform="ngForm">
                <section class="login-section">
                    <h2>Security Settings</h2>
                </section>
                <mat-form-field appearance="outline">
                  <mat-label>Enter your password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'">
                  <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button> -->
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'">
                  <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button> -->
                </mat-form-field>
                <!-- <div class="input-container password">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" ngModel>
                    <i class="far fa-eye-slash"></i>
                </div> -->
                <!-- <div class="input-container password">
                    <label for="password">Confirm Password</label>
                    <input id="password-confirm" name="password-confirm" type="password" ngModel>
                    <i class="far fa-eye-slash"></i>
                </div>
                <div class="input-container password">
                    <label for="password">4 Digit Secure Code</label>
                    <input id="securecode" name="securecode" type="password" ngModel>
                </div> -->
                <button class="login-button" type="submit">Update</button>
            </form>

        </div>
    
    
    </main>
    
    </div>
    
    
    
    </div>