<!-- <p>transfer works!</p> -->
<div class="dashboard-container">

    <input type="checkbox" id="sidebar-toggle">
    <!-- <div class="sidebar">
      <div class="sidebar-header">
        <h3 class="brand">
          <span class="ti-unlink"></span>
          <span>EasyBank</span>
        </h3>
        <label for="sidebar-toggle" class="ti-menu-alt"></label>
      </div>
    
      <div class="sidebar-menu">
        <ul>
          <li>
            <a href="">
              <span class="ti-home"></span>
              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="ti-credit-card"></span>
              <span>Payments</span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="ti-settings"></span>
              <span>Settings</span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="ti-bar-chart"></span>
              <span>Stats</span>
            </a>
          </li>
          <li>
            <a href="">
              <span></span>
              <span></span>
            </a>
          </li>
        </ul>
      </div>
    </div> -->
    
    <app-sidebar></app-sidebar>
    
    <div class="dashboard-content">
      <header>
        <div class="search-container">
          <!-- <span class="ti-search"></span>
          <input type="search" placeholder="search" /> -->
        </div>
    
        <div class="icons">
          <span class="ti-palette"></span>
          <div></div>
        </div>
      </header>
    
      <main>
        <h2 class="title">Payment Transfer</h2>
        <P>Select Payment Method</P>

        <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                Secure Payment
              </ng-template>
              <div class="payment-form-container">
                <form class="registerform" #secureform="ngForm">
                  <section class="login-section">
                      <h2>Secure Payment Process</h2>
                  </section>
                  <mat-form-field appearance="outline">
                    <mat-label>Recipient Username</mat-label>
                    <input matInput>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Recipient Email</mat-label>
                    <input matInput>
                  </mat-form-field>
                  <div class="code-container">
                    <mat-form-field class="code" appearance="outline">
                      <mat-label>Your Secure Code</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'">
                    </mat-form-field>
                    <mat-form-field class="code" appearance="outline">
                      <mat-label>Recipient Secure Code</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'">
                    </mat-form-field>
                  </div>
                  <mat-form-field appearance="outline">
                    <mat-label>Payment Method</mat-label>
                    <mat-select>
                      <mat-option value="one">First option</mat-option>
                      <mat-option value="two">Second option</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Payment Amount</mat-label>
                    <input matInput type="number" class="example-right-align">
                    <span matPrefix>$&nbsp;</span>
                    <span matSuffix>.00</span>
                  </mat-form-field>
                  <!-- <div class="input-container email">
                      <label for="email">Email</label>
                      <input id="email" name="email" type="text" ngModel>
                  </div> -->
  
                  <p>Secure Payments will not be processed until the recipient has confirmed the payment</p>

                  <button class="login-button" type="submit">Transfer</button>
              </form>
              </div>
            </mat-tab>
          
            <mat-tab>
              <ng-template mat-tab-label>
                Express Payment
              </ng-template>

              <div class="payment-form-container">
                <form class="registerform" #expressform="ngForm">
                  <section class="login-section">
                      <h2>Express Payment Process</h2>
                  </section>
                  <mat-form-field appearance="outline">
                    <mat-label>Recipient Username</mat-label>
                    <input matInput>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Payment Method</mat-label>
                    <mat-select>
                      <mat-option value="one">First option</mat-option>
                      <mat-option value="two">Second option</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Payment Amount</mat-label>
                    <input matInput type="number" class="example-right-align">
                    <span matPrefix>$&nbsp;</span>
                    <span matSuffix>.00</span>
                  </mat-form-field>
                  <!-- <div class="input-container email">
                      <label for="email">Email</label>
                      <input id="email" name="email" type="text" ngModel>
                  </div> -->
  
                  <p>Express payments will be automatically proccessed following this process</p>

                  <button class="login-button" type="submit">Transfer</button>
              </form>
              </div>

            </mat-tab>
          
          </mat-tab-group>
    
    
    </main>
    
    </div>
    
    
    
    </div>