<!-- <p>login works!</p> -->

<div class="login-sections">
    <div class="left">
        <section class="login-section">
            <h1>EasyBank</h1>
            <p>adasd asd asd ada asdas dasda asd as d.</p>

        </section>
    </div>

    <div class="right">
        <form class="loginform" (ngSubmit)="onLoginButtonClick()" #loginform="ngForm">
            <section class="login-section">
                <h2>Sign In</h2>
                <div class="login-container">
                    <p>Don't have an account ? <a href="#">
                        <strong>Create Account</strong>
                    </a></p>
                </div>
            </section>
            <div class="input-container name">
                <label for="fname">Username</label>
                <input id="fname" name="fname" type="text" ngModel>
            </div>
            <!-- <div class="input-container email">
                <label for="email">Email</label>
                <input id="email" name="email" type="text">
            </div> -->
            <div class="input-container password">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" ngModel>
                <!-- <i class="far fa-eye-slash"></i> -->
            </div>
            <!-- <div class="input-container password">
                <label for="password">Confirm Password</label>
                <input id="password" name="password" type="password">
                <i class="far fa-eye-slash"></i>
            </div> -->
            <!-- <div class="input-container password">
                <label for="password">4 Digit Secure Code</label>
                <input id="password" name="password" type="password">
            </div> -->
            <button class="login-button" type="submit">Sign In</button>
        </form>
    </div>
</div>