<!-- <p>admin works!</p> -->
<div class="dashboard-container">

    <input type="checkbox" id="sidebar-toggle">
    
    <app-sidebar></app-sidebar>
    
    <div class="dashboard-content">
      <header>
        <div class="search-container">
          <!-- <span class="ti-search"></span>
          <input type="search" placeholder="search" /> -->
        </div>
    
        <div class="icons">
          <span class="ti-palette"></span>
          <div></div>
        </div>
      </header>
    
      <main>

        <!-- <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile>1</mat-grid-tile>
          <mat-grid-tile>2</mat-grid-tile>
          <mat-grid-tile>3</mat-grid-tile>
          <mat-grid-tile>4</mat-grid-tile>
        </mat-grid-list> -->

        <h2 class="title">Admin A/B Testing Dashboard</h2>

        <h4> Payment Method Results </h4>
        <div class="chart-container">
          <!-- <h4> Payment Method Results </h4> -->
          <!-- <div>
              <canvas id="canvas"> {{ chart }}</canvas>
          </div> -->
  
          <div class="pie-container">
            <canvas id="paypiechart"> {{ paypiechart }}</canvas>
          </div>
        </div>

        <h4> Transfer Statement Method Results </h4>
        <div class="chart-container">

          <div class="pie-container">
            <canvas id="transferpiechart"> {{ transferpiechart }}</canvas>
          </div>
          
        </div>

        <h4>Global Results View</h4>

        <div class="chart-container">

          <div class="bar-container">
            <canvas id="groupedchart"> {{ groupedchart }}</canvas>
          </div>

        </div>

    
    </main>
    
    </div>
    
    
    
    </div>