<!-- <p>register works!</p> -->

<!-- <p>login works!</p> -->

<div class="login-sections">
    <div class="left">
        <section class="login-section">
            <h1>EasyBank</h1>
            <p>adasd asd asd ada asdas dasda asd as d.</p>

        </section>
    </div>

    <div class="right">
        <form>
            <section class="login-section">
                <h2>Sign Up</h2>
                <div class="login-container">
                    <p>Already have an account ? <a href="#">
                        <strong>Sign In</strong>
                    </a></p>
                </div>
            </section>
            <div class="input-container name">
                <label for="fname">Full Name</label>
                <input id="fname" name="fname" type="text">
            </div>
            <div class="input-container email">
                <label for="email">Email</label>
                <input id="email" name="email" type="text">
            </div>
            <div class="input-container password">
                <label for="password">Password</label>
                <input id="password" name="password" type="password">
                <i class="far fa-eye-slash"></i>
            </div>
            <div class="input-container password">
                <label for="password">Confirm Password</label>
                <input id="password" name="password" type="password">
                <i class="far fa-eye-slash"></i>
            </div>
            <div class="input-container password">
                <label for="password">4 Digit Secure Code</label>
                <input id="password" name="password" type="password">
            </div>
            <button class="login-button" type="submit">Sign Up</button>
        </form>
    </div>
</div>
