<div class="login-sections">
    <div class="left">
        <section class="login-section">
            <h1>EasyBank</h1>
            <p>Secure Online Digital Banking</p>

        </section>
    </div>
    <!-- Right Section of register page -->
    <div class="right">
      <!-- Registe Form-->
        <form class="registerform form-top" (ngSubmit)="OnRegisterFormSubmit()" #registerform="ngForm">
            <section class="login-section">
                <h2 class="signup-head">Sign Up</h2>
                <div class="login-container">
                    <p>Already have an account ? <a href="#" routerLink="/login">
                        <strong>Sign In</strong>
                    </a></p>
                </div>
            </section>
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput name="username" ngModel required>
                <mat-error *ngIf="formfield.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput name="email" ngModel required>
                <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Enter Your Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" name="password" ngModel required>
                
                <mat-error *ngIf="password.invalid">{{getPassErrorMessage()}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" name="passwordconf" ngModel required>
                
                <mat-error *ngIf="password.invalid">{{getPassErrorMessage()}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>4 Digit Secure Code</mat-label>
                <input matInput [type]="hide ? 'password' : 'number'" name="securecode" ngModel required maxlength=4>
                <mat-error *ngIf="formfield.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            <button class="login-button" type="submit">Sign Up</button>
        </form>
    </div>
</div>
